.container {
  background-color: black;
}

.menu {
  border-bottom: 2px solid blue;
  height: 70px;
  display: flex;
  justify-content: center;
  padding: 20px;
}

.button-start {
  appearance: none;
  background-color: #ECDBBA;
  border-radius: 40em;
  border-style: none;
  box-shadow: rgba(255, 99, 20, 0.71) 0 -6px 8px inset;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: -.24px;
  margin: 0;
  outline: none;
  padding: 1rem 1.3rem;
  text-align: center;
  text-decoration: none;
  transition: all .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-start:hover {
  background-color: #FFA372;
  box-shadow: rgba(255, 99, 20, 0.71) 0 -6px 8px inset;
  transform: scale(1.125);
}

.button-start:active {
  transform: scale(1.025);
}

@media (min-width: 768px) {
  .button-start {
    font-size: 1.5rem;
    padding: .75rem 2rem;
  }
}
