.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  color: white;
}
table{
  background-color: #F9DFDC;
  color: #1B262C;
  width: 50%;
  text-align: center;
  padding: 20px;
  font-size: 20px;
  margin-top: 50px;
  margin-bottom: 150px;
  border-radius: 20px;
  font-size: 20px;
}
@media (max-width: 1280px) {
  table{
    width: 80%;
  }
}
